body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3vh;
    text-align: center;
}

th {
    background-color: #6994f7;
}
th, td{
    height: 6vh;
    border-bottom: 2px solid #ddd;
    border-radius: 10px;
}
tr:nth-child(odd) {
    background-color: #f2f2f2;
}
